@mixin container($justify: start, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin container-gap($gap: 0, $justify: start, $align: center) {
  @include container($justify, $align);
  gap: $gap;
}