$black: #000;
$white: #fff;
$gray-light: #888888;
$gray-dark: #333333;
$blue-dark: #002f6c;
$blue-light: #1da1f2;
$background-light: #f5f5f5;
$background-dark: #111111;
$highlight-color: rgb(81, 81, 81);
$highlight-light: rgb(206, 206, 206);
$button-bg: #002f6c;
$footer-bg: #000;
$footer-text: rgb(206, 206, 206);
$font-family: "Press Start 2P", sans-serif;

@function px-to-rem($px, $base: 16) {
  @return $px / $base * 1rem;
}

$font-size-base: 16px;
$font-size-large: 20px;
$font-size-small: 12px;

$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 40px;
$spacing-xlarge: 70px;

@function get-spacing($size) {
  @if $size == "small" {
    @return $spacing-small;
  } @else if $size == "medium" {
    @return $spacing-medium;
  } @else if $size == "large" {
    @return $spacing-large;
  } @else if $size == "xlarge" {
    @return $spacing-xlarge;
  } @else {
    @error "Spacing size not defined: #{$size}";
  }
}
