<section class="duties__about" aria-label="About Duties" lang="en">
  <h2 class="duties__about-title">About</h2>
  <div class="duties__about-content" lang="en">
    @for (text of aboutTexts; track text) {
    <p class="duties__about-text">{{ text }}</p>
    }
    <app-main-about-cta></app-main-about-cta>
  </div>
  <div class="duties__about-image-wrapper" aria-label="Duties team at work">
    <img
      src="https://framerusercontent.com/images/a1DfsDJS8wYskx4fqNFQBFVPBU.png"
      class="duties__about-image"
      alt="Duties team at work"
      loading="lazy"
      title="Duties team at work image by Framer Team"
    />
  </div>
</section>
