<div class="duties__project-scope" aria-label="Project Scope" lang="en">
  <h4 class="duties__project-scope-title">SCOPE</h4>
  <span class="duties__project-scope-separator"></span>
  <div class="duties__project-scope-ticket">
    <ul class="duties__project-scope-list">
      @for (item of [1, 2, 3, 4, 5, 6]; track item) {
      <li class="duties__project-scope-item">
        <svg
          class="duties__project-scope-ticket-dot"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <circle cx="12" cy="12" r="10" fill="variables.$color-primary" />
        </svg>

        STRATEGY, NAMING, BRAND, DIGITAL
      </li>
      }
    </ul>
  </div>
</div>
