@use "../../ui/styles/mixins.scss" as mixins;
@use "../../ui/styles/variables.scss" as variables;
@use "../../ui/styles/animations.scss" as animations;

.duties__project-scope {
  position: relative;
  white-space: nowrap;
  @include mixins.flex-center(row, center, center);
  margin-bottom: 10px;

  &-title {
    font-size: 1.6rem;
  }

  &-separator {
    height: 8px;
    width: 8px;
    background-color: variables.$color-primary;
    border-radius: 8px;
    margin: 0 10px;
  }

  &-ticket {
    overflow: hidden;
    background-color: variables.$scope-color;
    width: 20dvw;
    &-dot {
      margin-right: 10px;
      width: 0.9rem;
      height: auto;
    }
  }

  &-list {
    @include mixins.flex-center(row, flex-start, flex-start, 20px);
    list-style: none;
    cursor: pointer;
    animation: ticker-animation 15s linear infinite;
  }

  &-item {
    @include mixins.flex-center(row, center, center);
    font-size: 1.5rem;
  }
}
