@use "../../ui/styles/mixins.scss" as mixins;
@use "../../ui/styles/variables.scss" as variables;

.duties__footer {
  padding-inline: variables.$padding-x;
  font-family: "PP Neue Montreal Mono Medium", monospace;
  font-feature-settings: "ss08", "ss07";
  font-size: 1.6rem;
  text-transform: uppercase;
  padding-bottom: 95px;

  &-separator {
    height: 400px;
    user-select: none;
    width: 100%;
  }

  &-content {
    @include mixins.flex-center(row, space-between, flex-start);
    width: 100%;
    margin-bottom: 28px;
    padding-inline: 3px;
  }

  &-copyright {
    font-size: 1.6rem;
  }
}
