<footer class="footer" role="contentinfo">
    <div class="footer__top">
      <a class="footer__logo" href="#" aria-label="Atlantis Technology Logo">
        <img src="https://www.atlantistech.com/images/logo_atlantis.svg" alt="Atlantis Technology Logo">
      </a>
      <menu class="footer__menu" aria-label="Footer Navigation">
        @for (item of footerMenuItems; track item; let i = $index) {
          <li>
            <a 
              (click)="onFooterMenuItemClick(item.label)" 
              [href]="item.link" 
              class="footer__link" 
              [attr.data-index]="i">
              {{ item.label }}
            </a>
          </li>
        }
      </menu>
      <div class="footer__back-to-top">
        <p class="footer__back-to-top-text">BACK TO TOP</p>
        <a href="#" class="footer__back-to-top-link" aria-label="Back to top">↑</a>
      </div>
    </div>
    <div class="footer__contact-info">
      <div class="footer__contact-item">
        <div class="footer__icon-wrapper" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="footer__icon footer__icon--gps">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M17 3.34a10 10 0 1 1 -15 8.66l.005 -.324a10 10 0 0 1 14.995 -8.336m-.086 5.066c.372 -.837 -.483 -1.692 -1.32 -1.32l-9 4l-.108 .055c-.75 .44 -.611 1.609 .271 1.83l3.418 .853l.855 3.419c.23 .922 1.498 1.032 1.884 .163z"/>
          </svg>
        </div>
        <p class="footer__contact-text"><span class="footer__contact-span">1620 Sudbury Road, Concord, MA 01742</span> (just outside of Boston!)</p>
      </div>
      <div class="footer__contact-item">
        <div class="footer__icon-wrapper" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="footer__icon footer__icon--mail">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z"/>
            <path d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z"/>
          </svg>
        </div>
        <p class="footer__contact-text">Questions about how we work? <span class="footer__contact-span"><a href="mailto:hello@atlantistech.com" aria-label="Email us at hello@atlantistech.com">hello&#64;atlantistech.com</a></span></p>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__copyright">
        <p class="footer__copyright-text">Copyright © 2025 by <span class="footer__copyright-span">Atlantis Technology</span>. All Rights Reserved.</p>
        <small class="footer__privacy-policy">This site is using Google reCAPTCHA. <span class="footer__privacy-span">Privacy policy. Terms of use</span>.</small>
      </div>
      <div class="footer__links">
        <p class="footer__link-item">Terms</p>
        <p class="footer__link-item">Privacy</p>
      </div>
    </div>
  </footer>
  