<li class="shop-dropdown" role="menuitem" aria-label="Main shop page">
    <a class="shop-dropdown__link" href="#">SHOP</a>
    <div class="shop-dropdown__submenu">
        <ul class="shop-dropdown__list">
            @for (item of firstColumn; track $index) {
            <li class="shop-dropdown__item"><a class="shop-dropdown__item--link" href="#">{{item}}</a></li>
            }
        </ul>
        <ul class="shop-dropdown__list">
            @for(item of secondColumn; track $index){<li class="shop-dropdown__item"><a
                    class="shop-dropdown__item--link" href="#">{{item}}</a></li>}
            <li class="shop-dropdown__item">
                <a class="shop-dropdown__item--link" href="#">
                    <img class="shop-dropdown__promo-image" src="../../../assets/images/promos_gif.webp"
                        alt="Promo animated advertise">
                </a>
            </li>
        </ul>
        <img class="shop-dropdown__preview" src="../../../assets/images/submenu_shop_default.webp"
            alt="Respresentative picture of the selected cathegory brand's product">
    </div>
</li>