<section aria-label="Main navigation bar">
    <nav class="navbar" role="navigation">
        <a class="navbar__logo-container" aria-label="Main VISSIONNAIRE logo that redirect to the home page" href="#">
            <app-navbar-logotype></app-navbar-logotype>
            <app-navbar-isotype></app-navbar-isotype>
        </a>
        <menu class="navbar__menu">
            <li role="menuitem" aria-label="New products gallery of novelties">
                <a href="#">NOUVEAUTÉS</a>
            </li>
            <li id="shop-submenu" role="menuitem" aria-label="Main shop page">
                <a href="#">SHOP</a>
                <div id="shop-dropdown" class="navbar__dropdown">
                    <ul>
                        <li><a href="#">soldes</a></li>
                        <li><a href="#">tout voir</a></li>
                        <li><a href="#">Nouveautés</a></li>
                        <li><a href="#">HARRY POTTER | VISIONNAIRE</a></li>
                        <li><a href="#">VESTES</a></li>
                        <li><a href="#">SWEAT</a></li>
                    </ul>

                    <ul>
                        <li><a href="#">T-shirt</a></li>
                        <li><a href="#">ACCESSOIRES</a></li>
                        <li><a href="#">Pantalons</a></li>
                        <li><a href="#">CHEMISES</a></li>
                        <li><a href="#">SHORT</a></li>
                        <li><a href="#">CASQUETTES & BOB</a></li>
                        <li><a href="#"><img src="../../../assets/images/promos_gif.webp"
                                    alt="Promo animated advertise"></a></li>

                    </ul>
                    <img src="../../../assets/images/submenu_shop_default.webp"
                        alt="Respresentative picture of the selected cathegory brand's product">
                </div>
            </li>
            <li id="collection-submenu" role="menuitem" aria-label="Collections page">
                <a href="#">COLLECTIONS</a>
                <div id="collection-dropdown" class="navbar__dropdown">
                    <ul>
                        <li><a href="#">HARRY POTTER | VISIONNAIRE</a></li>
                        <li><a href="#">Lookbook N°3</a></li>
                        <li><a href="#">Lookbook N°4</a></li>
                        <li><a href="#">Lookbook N°5</a></li>
                        <li><a href="#">Les couleurs</a></li>
                        <li><a href="#">Collab Jordy VDN</a></li>
                    </ul>

                    <ul>
                        <li><a href="#">Lookbook N°6</a></li>
                        <li><a href="#">Lookbook 6.1</a></li>
                        <li><a href="#">Lookbook N°7</a></li>
                        <li><a href="#">Lookbook N°7.1</a></li>
                        <li><a href="#">Lookbook N°7.2</a></li>
                    </ul>
                    <img src="../../../assets/images/group_of_models_harry_otter_collab.webp"
                        alt="Respresentative picture of the selected products collection" style="max-height: 450px;">
                </div>
            </li>
            <li role="menuitem" aria-label="Promotions page">
                <a href="#">PROMOS</a>
            </li>
        </menu>
        <a class="navbar__cart" href="#">
            <svg class="navbar__sac" viewBox="0 0 27 42" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                    <path stroke="#000" stroke-width="1.2" stroke-linejoin="round"
                        d="M24.189 40.626H2.643L4.645 19.08h17.543z">
                    </path>
                    <path d="M8.103 19.111V17.61a5.313 5.313 0 0110.626 0v1.789" stroke="#000" stroke-width="1.2">
                    </path>
                    <path
                        d="M3.27 5.75c-.372-.256-1.106-.438-1.769.258-.502.527-.499 1.228-.103 1.605.33.314.774.345 1.245.026l.865-.6c1.055-.74 2.101-.68 2.833.016.806.767.954 2.151-.176 3.338-1.255 1.318-2.683 1.117-3.507.486l.547-1.043c.591.465 1.458.551 2.17-.196.592-.623.584-1.245.181-1.629-.337-.32-.845-.329-1.365.027l-.85.586c-.916.637-1.938.67-2.714-.07-.872-.829-.829-2.31.091-3.278 1.165-1.223 2.365-.988 3.055-.554L3.27 5.75zM11.5 4.343l2.18-.128-1.262-2.861-.917 2.989zm2.669.966l-3.025.179-.56 1.834-1.281.076L11.665.083 13.067 0l3.205 6.987-1.321.078-.782-1.756zM20.233 4.912c1.575-1.724 3.814-1.581 5.187-.326 1.343 1.228 1.42 2.749.812 3.892L25.13 7.99c.43-.785.408-1.75-.479-2.562-.874-.798-2.326-.961-3.499.322-1.133 1.239-.882 2.673.021 3.498.888.812 1.913.708 2.638.275l.575 1.019c-1.057.677-2.647.799-3.998-.436-1.425-1.303-1.73-3.471-.154-5.195"
                        fill="#000"></path>
                </g>
            </svg>
        </a>
    </nav>
</section>