@use "../../ui/styles/variables.scss" as variables;

.duties {
  &__nav {
    z-index: 10;
    font-family: "PP Neue Montreal Mono Medium";
    position: fixed;
    bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-container {
      cursor: pointer;
      padding: 14px 20px;
      width: 33%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: variables.$color-nav;
      backdrop-filter: blur(32px);
      border-radius: 1.6rem;
    }

    &-link {
      text-decoration: none;

      &:hover svg {
        animation: spin 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
      }

      &:hover svg.stop-spin {
        animation: spin-reverse 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
      }

      svg {
        margin-right: 2px;
        width: 24px;
        transition: transform 0.2s ease-in-out;
      }
    }
  }

  &__menu {
    display: flex;
    gap: 20px;

    &-item {
      list-style: none;
      flex: 0 0 auto;
      overflow: hidden;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: variables.$color-primary;
        z-index: -1;
        transform: translateX(-150%);
        transition: transform 0.2s ease-in-out;
        pointer-events: none;
      }

      &:hover::after {
        transform: translateX(0);
      }
    }

    &-link {
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 400;
      color: variables.$color-primary;
      position: relative;
      z-index: 1;
      transition: color 0.4s ease-in-out;

      &:hover {
        color: variables.$color-background;
      }

      a {
        font-size: 1.6rem;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
