<header class="header">
  <a href="#home" class="header__logo">
    <p>NOTHING (R)</p>
  </a>
  <nav class="header__nav">
    <app-menu [menuItems]="menuItems"></app-menu>
  </nav>
  <div class="header__icons">
    <div>
      <svg
        fill="none"
        height="29"
        viewBox="0 0 34 29"
        width="34"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g stroke="#000" stroke-width="1.5">
          <path
            d="m26.8206 27.3565 5.2376-16.7608h-30.90195l5.23762 16.7608z"
          />
          <path d="m12.0775.93459-4.19012 9.95171" />
          <path d="m23.0775.35252 4.19 9.95178" />
        </g>
      </svg>
      <span class="cart-count">0</span>
    </div>
    <svg
      fill="none"
      height="27"
      viewBox="0 0 28 27"
      width="28"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g stroke="#000" stroke-width="1.5">
        <path
          d="m14.1563 16.2843c7.114 0 12.881 4.8681 12.881 9.7361h-25.76191c0-4.868 5.76698-9.7361 12.88091-9.7361z"
        />
        <ellipse cx="14.1557" cy="7.2445" rx="5.895" ry="5.89502" />
      </g>
    </svg>
  </div>
</header>
