@use "../../ui/styles/variables.scss" as variables;

.duties {
  &__header {
    padding: variables.$padding-x;
  }

  &__title {
    font-family: variables.$font-family-primary;
    font-size: clamp(75px, 33.3333px + 11.1111vw, 220px);
    letter-spacing: -0.0675em;
    line-height: 80%;
    color: #000;
    &-separator {
      height: clamp(280px, 245.517px + 9.1954vw, 400px);
      user-select: none;
    }
  }
}
