<section class="hero" aria-label="Hero section showcasing discounts and the latest green puffer jacket design">
    <div class="hero__item">
        <a class="hero__link" href="#" aria-label="Learn more about the discounts available on the website">
            <video class="hero__video" autoplay="autoplay" muted="muted" loop="loop" [muted]="true"
                aria-label="Promotional video highlighting available discounts"
                src="//vision-naire.com/cdn/shop/videos/c/vp/c7cf68690b7c49958d6cf435db347fdb/c7cf68690b7c49958d6cf435db347fdb.HD-1080p-7.2Mbps-40681738.mp4?v=0">
                Your browser does not support the video tag.
            </video>
            <div class="hero__content-left">
                <svg class="arrow" aria-hidden="true" width="20" height="16" xmlns="http://www.w3.org/2000/svg">
                    <g stroke="#fff" fill="none" fill-rule="evenodd">
                        <path d="M18.31 8.22H0M11.16 1l7.15 7.15-7.33 7.34"></path>
                    </g>
                </svg>
                <a href="#" class="hero__content-link">voir</a>
            </div>
        </a>
    </div>

    <div class="hero__item">
        <a class="hero__link" href="#" aria-label="Discover the latest green puffer jacket design">
            <video class="hero__video" aria-label="Video showcasing the latest green puffer jacket design"
                autoplay="autoplay" muted="muted" loop="loop" [muted]="true"
                src="//vision-naire.com/cdn/shop/videos/c/vp/55584719bfa14c74b58dabc1f610b4f4/55584719bfa14c74b58dabc1f610b4f4.HD-1080p-7.2Mbps-39555703.mp4?v=0">
            </video>
            <div class="hero__content-right">
                <svg class="arrow" aria-hidden="true" width="20" height="16" xmlns="http://www.w3.org/2000/svg">
                    <g stroke="#fff" fill="none" fill-rule="evenodd">
                        <path d="M18.31 8.22H0M11.16 1l7.15 7.15-7.33 7.34"></path>
                    </g>
                </svg>
                <a href="#" class="hero__content-link">voir</a>
            </div>
            <p class="hero__text">NOUVELLE PUFFER 'MOUVEMENT' dispo en 2 coloris.</p>
        </a>
    </div>

</section>