<section aria-label="Main Project">
  <app-main-project-images
    [projectClass]="projectClass"
    [images]="images"
    (click)="onProjectClick()"
  ></app-main-project-images>
  <div class="duties__project-info">
    <div class="duties__project-info-wrapper">
      <h3 class="duties__project-title">{{ title }}</h3>
      <app-main-project-banner></app-main-project-banner>
    </div>
    <app-main-project-button></app-main-project-button>
  </div>
  <div class="duties__separator"></div>
</section>
