<a class="product-card__link" [href]="product.link">
    <div class="product-card__image-container">
        <img class="product-card__image product-card__image--front" [src]="'assets/images/'+  product.imageFront "
            [alt]="product.altText" />
        <img class="product-card__image product-card__image--back" [src]="'assets/images/'+ product.imageBack"
            [alt]="product.altText" />
        @if (product.onSale) {
        <svg class="product-card__sale-icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd">
                <path
                    d="M31 16.117C30.933 24.401 24.165 31.064 15.881 31 7.598 30.935.935 24.167 1 15.883 1.064 7.6 7.832.936 16.116 1 24.401 1.065 31.064 7.833 31 16.117z"
                    stroke="#000" stroke-width="1.425" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M26.605 16.083c-.046 5.857-4.83 10.57-10.688 10.523-5.858-.046-10.569-4.83-10.523-10.689"
                    stroke="#000" stroke-width="1.425" stroke-linecap="round" stroke-linejoin="round"></path>
                <path
                    d="M19.456 17.312c.775 0 1.357-.582 1.357-1.392 0-.794-.582-1.375-1.357-1.375-.758 0-1.357.581-1.357 1.375 0 .81.599 1.392 1.357 1.392zm0-4.159c1.516 0 2.837 1.216 2.837 2.767 0 1.568-1.321 2.784-2.837 2.784-1.516 0-2.82-1.216-2.82-2.784 0-1.55 1.304-2.767 2.82-2.767zm-6.98-1.974c.776 0 1.358-.582 1.358-1.392 0-.794-.582-1.375-1.357-1.375-.758 0-1.357.581-1.357 1.375 0 .81.599 1.392 1.357 1.392zm-1.41 7.384l8.214-11.42h1.586l-8.178 11.42h-1.621zm1.41-11.543c1.517 0 2.838 1.216 2.838 2.767 0 1.568-1.321 2.784-2.837 2.784-1.516 0-2.82-1.216-2.82-2.784 0-1.55 1.304-2.767 2.82-2.767z"
                    fill="#000"></path>
            </g>
        </svg>
        }
    </div>
    <div class="product-card__content">
        <p class="product-card__title">{{ product.title }}</p>
        <menu class="product-card__sizes">
            <!-- <li *ngFor="let size of product.sizes">{{ size }}</li> -->
            @for (size of product.sizes; track $index) {
            <li>{{ size }}</li>
            }
        </menu>
        <p class="product-card__price">
            {{ product.price }}
            @if (product.onSale) {
            <span class="product-card__price--previous">
                {{ product.previousPrice }}
            </span>
            }
        </p>
    </div>
</a>