@use "../../ui/styles/mixins.scss" as mixins;
@use "../../ui/styles/variables.scss" as variables;
@use "../../ui/styles/animations.scss" as animations;

.duties__project {
  &-cta {
    @include mixins.flex-center(row, flex-start, flex-start, 10px);
    background-color: variables.$color-primary;
    color: variables.$color-background;
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 3px;
    font-size: 1.6rem;
    height: fit-content;
    margin-right: 15px;
    border: none;
    position: relative;

    &-wrapper {
      position: relative;
      overflow: hidden;
    }

    &:hover {
      background-color: variables.$color-hover;
      &-icon {
        animation: moveRight 0.4s forwards;

        &-clone {
          animation: appear 0.4s forwards;
        }
      }
    }

    &-icon {
      margin: auto 0;
      width: 12px;
      transition: transform 0.5s;
      &-clone {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        transition: transform 0.5s, opacity 0.5s;
      }
    }
  }
}
