<section class="newspaper">
    <div class="newspaper__title">
        EST. 2017
    </div>
    <img class="newspaper__image" src="../../../assets/images/newspaper_setion.webp"
        alt="model wearing the visionnaire black hoddie and sunglasses using a telephone">
    <div class="newspaper__content">
        <div class="newspaper__logo-container">
            <img src="../../../assets/vissionnaire.svg" alt="vissionaire logo ">
        </div>
        <app-newspaper-invitation></app-newspaper-invitation>
    </div>
</section>