<section class="newspaper">
    <div class="newspaper__title">
        EST. 2017
    </div>
    <img class="newspaper__image" src="../../../assets/images/newspaper_setion.webp"
        alt="model wearing the visionnaire black hoddie and sunglasses using a telephone">
    <div class="newspaper__content">
        <div class="newspaper__logo-container">
            <i>
                <img src="../../../assets/vissionnaire.svg" alt="vissionaire logo ">
            </i>
        </div>

        <div class="newspaper__club-invitation">
            <form action="">
                <input type="hidden" placeholder="Votre email">
                <input type="hidden" placeholder="Votre email">
                Visionnaire club
                <app-club-icon></app-club-icon>
                <br>
                Abonnez-vous à
                <br>
                notre newsletter :
                <br>
                <div class="newspaper__club-invitation__form">
                    <input class="newspaper__club-invitation__input" type="email" name="email" id="email" value
                        placeholder="E-Mail">
                    <button type="submit" class="newspaper__club-invitation__button">valider</button>
                </div>
            </form>
        </div>
    </div>
</section>