<nav class="duties__footer-nav" aria-label="Social media and additional links">
  <ul class="duties__footer-nav-list">
    <li class="duties__footer-nav-item">
      <a
        href="#"
        class="duties__footer-nav-link scramble-text"
        data-text="Linkedin"
        >Linkedin</a
      >
    </li>
    <li class="duties__footer-nav-item">
      <a
        href="#"
        class="duties__footer-nav-link scramble-text"
        data-text="Instagram"
        >Instagram</a
      >
    </li>
    <li class="duties__footer-nav-item">
      <a
        href="#"
        class="duties__footer-nav-link scramble-text"
        data-text="Behance"
        >Behance</a
      >
    </li>
    <li class="duties__footer-nav-item">
      <a href="#" class="duties__footer-nav-link scramble-text" data-text="Shop"
        >Shop</a
      >
    </li>
    <li class="duties__footer-nav-item">
      <a
        href="#"
        class="duties__footer-nav-link scramble-text"
        data-text="Insights"
        >Insights</a
      >
    </li>
  </ul>
</nav>
