.main {
  padding-top: v.$spacing-4xl;

  &__section {
    @include m.flex(row, flex-start, center);
    margin-bottom: v.$spacing-4xl;

    &.normal {
      flex-direction: row;
    }

    &.reverse {
      flex-direction: row-reverse;
    }
  }

  &__section-content {
    @include m.flex(column);
    padding: v.$spacing-2xl;

    span {
      font-size: v.$font-md;
      font-weight: 700;
      padding: v.$spacing-sm 0;
    }
  }

  &__subtitle {
    font-size: v.$font-3xl;
    font-weight: 700;
    padding-bottom: v.$spacing-md;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 20%;
      left: -7rem;
      transform: translateY(-50%);
      width: 18rem;
      height: 18rem;
      background-color: #f3f4fc;
      border-radius: v.$border-radius-circle;
      z-index: -1;
    }
  }

  &__list {
    @include m.flex(column);

    li {
      @include m.flex(row, flex-start, center);
      list-style: none;
      gap: v.$spacing-sm;
      padding: v.$spacing-xs 0;
      font-size: v.$font-md;
    }
  }

  &__paragraph {
    font-size: v.$font-md;
    padding: v.$spacing-sm 0;
  }

  &__image {
    img {
      width: 90%;
      height: auto;
      padding: 0 v.$spacing-md;
    }
  }
}
