@font-face {
  font-family: "PP Neue Montreal Book";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Book"),
    url("assets/fonts/ppneuemontreal-book.woff") format("woff");
}

@font-face {
  font-family: "PP Neue Montreal Italic";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Italic"),
    url("assets/fonts/ppneuemontreal-italic.woff") format("woff");
}

@font-face {
  font-family: "PP Neue Montreal Thin";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Thin"),
    url("assets/fonts/ppneuemontreal-thin.woff") format("woff");
}

@font-face {
  font-family: "PP Neue Montreal Medium";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Medium"),
    url("assets/fonts/ppneuemontreal-medium.woff") format("woff");
}

@font-face {
  font-family: "PP Neue Montreal SemiBold italic";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal SemiBold italic"),
    url("assets/fonts/ppneuemontreal-semibolditalic.woff") format("woff");
}

@font-face {
  font-family: "PP Neue Montreal Bold";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Bold"),
    url("assets/fonts/ppneuemontreal-bold.woff") format("woff");
}

@font-face {
  font-family: "Apple Garmond Light";
  font-style: normal;
  font-weight: lighter;
  src: local("Apple Garmond Light"),
    url("assets/fonts/AppleGaramond-Light.ttf") format("truetype");
}

.sliding-band {
  p {
    font-family: "Apple Garmond Light", serif;
    font-weight: 200;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "PP Neue Montreal", system-ui, sans-serif;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;

  /* IE and Edge */
  &::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
  }
}

body {
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;

  /* IE and Edge */
  &::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
  }
}